h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 50px 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 20px 0;
}

.logo {
  width: 10%;
  margin-right: 10%;
}

.logo img {
  width: 100%;
}

.logo.thicc-logo img {
  width: 60%;
}

.right {
  text-align: left;
  width: 40%;
}

.section-dark {
  background-color: #F0FCFE;
  padding-top: 10px;
  margin-top: -10px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.description {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 50px;
}

.button {
  background-color: #3b8abf;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-style: normal;
}

.wave {
  position: relative;
  top: 10px;
  z-index: -1;
  width: 100%;
}

.invertedWave {
  background-color: #F0FCFE;
  width: 100%;
}

footer {
  margin-top: 100px;
}